apiVersion: v1
kind: Service
metadata:
  name: operator-metrics
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/instance: operator
  ports:
  - name: metrics
    protocol: TCP
    port: 8080
    targetPort: 8080
